.App {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.App-header {
  background-color: #111214;
  display: inline-grid;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #282c34;
  min-height: 70vh;
  align-items: center;
  display: inline-grid;
  color: rgb(202, 0, 0);
  font-size: 60px;
  font-family: 'solsticeofsufferingregular';
}

.Header-image{
  max-width: 30vw;
}

@font-face {
  font-family: 'solsticeofsufferingregular';
  src: url('/assets/fonts/solsticeofsuffering-webfont.eot');
  src: url('/assets/fonts/solsticeofsuffering-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/solsticeofsuffering-webfont.woff2') format('woff2'),
       url('/assets/fonts/solsticeofsuffering-webfont.woff') format('woff'),
       url('/assets/fonts/solsticeofsuffering-webfont.ttf') format('truetype'),
       url('/assets/fonts/solsticeofsuffering-webfont.svg#solsticeofsufferingregular') format('svg');
  font-weight: normal;
  font-style: normal;
}