.App {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.App-header {
  background-color: #111214;
  display: inline-grid;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #282c34;
  min-height: 70vh;
  align-items: center;
  display: inline-grid;
  color: rgb(202, 0, 0);
  font-size: 60px;
  font-family: 'solsticeofsufferingregular';
}

.Header-image{
  max-width: 30vw;
}

.Button{
  display:inline-grid;
  background-color: green;
  color: green;
  padding:0.3em 1.2em;
  width:30vw;
  margin:auto;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  }
  a.button4:hover{
  border-color: rgba(255,255,255,1);
  }
  @media all and (max-width:30em){
   a.button4{
  display:grid;
  margin:0.2em auto;
  }
}

@font-face {
  font-family: 'solsticeofsufferingregular';
  src: url('/assets/fonts/solsticeofsuffering-webfont.eot');
  src: url('/assets/fonts/solsticeofsuffering-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/solsticeofsuffering-webfont.woff2') format('woff2'),
       url('/assets/fonts/solsticeofsuffering-webfont.woff') format('woff'),
       url('/assets/fonts/solsticeofsuffering-webfont.ttf') format('truetype'),
       url('/assets/fonts/solsticeofsuffering-webfont.svg#solsticeofsufferingregular') format('svg');
  font-weight: normal;
  font-style: normal;
}