.App {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.App-header {
  background-color: #111214;
  font-family: 'Times New Roman', Times, serif;
  display: inline-grid;
  height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #282c34;
  height: 70vh;
  align-items: center;
  display: inline-grid;
  color: rgb(202, 0, 0);
  font-size: 15vw;
  font-family: 'solsticeofsufferingregular';
}

.Header-image{
  max-width: 30vw;
  height: 21vh;
}

.Button{
  display:inline-grid;
  background-color: black;
  color: rgb(202, 0, 0);
  padding:0.3em 1.2em;
  width:20vw;
  margin:auto;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  text-decoration:none;
  font-family:'solsticeofsufferingregular', 'Roboto',sans-serif;
  font-size: 3vw;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  }
   /* unvisited link */
button.Button:link {
  color: white;
}

/* visited link */
button.Button:visited {
  color: white;
}

/* mouse over link */
button.Button:hover {
  color: rgb(202, 0, 0);
}

/* selected link */
button.Button:active {
  color: white;
} 
  a.button:hover{
  border-color: rgba(255,255,255,1);
  }
  @media all and (max-width:30em){
   a.button4{
  display:grid;
  margin:0.2em auto;
  }
}

@font-face {
  font-family: 'solsticeofsufferingregular';
  src: url('./fonts/solsticeofsuffering-webfont.eot');
  src: url('./fonts/solsticeofsuffering-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/solsticeofsuffering-webfont.woff2') format('woff2'),
       url('./fonts/solsticeofsuffering-webfont.woff') format('woff'),
       url('./fonts/solsticeofsuffering-webfont.ttf') format('truetype'),
       url('./fonts/solsticeofsuffering-webfont.svg#solsticeofsufferingregular') format('svg');
  font-weight: normal;
  font-style: normal;
}